body {
    display: flex;
    flex-direction: column;
    line-height: 1.0;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #3c3744;
    color: #fff;
  }
  h1 {
    font-size: 250%;
    background-color:#b4c5e4;
    color:#3c3744;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  nav a {
    color: #b4c5e4;
    font-weight:lighter;
    text-decoration-thickness: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  h2{
    color:#3c3744;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
  }
  aside {
    width: 50%;
  }
  
  aside h2 {
    font-size: 200%;
  
  }
  aside {
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }
  section{
    flex: 1 1 0;
    padding-left: 10%;
  }